<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.xin.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>getComs</servlet-name>
		<servlet-class>com.xin.servlet.GetComsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getComs</servlet-name>
		<url-pattern>/getComs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getStartsByCom</servlet-name>
		<servlet-class>com.xin.servlet.GetStartsByComServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getStartsByCom</servlet-name>
		<url-pattern>/getStartsByCom</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getEndsByStart</servlet-name>
		<servlet-class>com.xin.servlet.GetEndsByStartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getEndsByStart</servlet-name>
		<url-pattern>/getEndsByStart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getUAPBySAE</servlet-name>
		<servlet-class>com.xin.servlet.GetUpdownAndPriceByStartAndEndServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUAPBySAE</servlet-name>
		<url-pattern>/getUAPBySAE</url-pattern>
	</servlet-mapping>
	
	<!-- 账单信息 -->
	<servlet>
		<servlet-name>addOrder</servlet-name>
		<servlet-class>com.xin.servlet.AddOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addOrder</servlet-name>
		<url-pattern>/addOrder</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getOrders</servlet-name>
		<servlet-class>com.xin.servlet.GetOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getOrders</servlet-name>
		<url-pattern>/getOrders</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateOrder</servlet-name>
		<servlet-class>com.xin.servlet.UpdateOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateOrder</servlet-name>
		<url-pattern>/updateOrder</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delOrder</servlet-name>
		<servlet-class>com.xin.servlet.DelOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delOrder</servlet-name>
		<url-pattern>/delOrder</url-pattern>
	</servlet-mapping>
	
	
	<!-- 账单预留信息 -->
	<servlet>
		<servlet-name>addShInfo</servlet-name>
		<servlet-class>com.xin.servlet.AddShInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addShInfo</servlet-name>
		<url-pattern>/addShInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getShInfos</servlet-name>
		<servlet-class>com.xin.servlet.GetShInfosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getShInfos</servlet-name>
		<url-pattern>/getShInfos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateShInfo</servlet-name>
		<servlet-class>com.xin.servlet.GetShInfosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateShInfo</servlet-name>
		<url-pattern>/updateShInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delShInfo</servlet-name>
		<servlet-class>com.xin.servlet.DelShInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delShInfo</servlet-name>
		<url-pattern>/delShInfo</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
